<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
	<h1>Hello <%= user.charAt(0).toUpperCase()+ user.slice(1) %></h1>

	<a href="/users/logout">Logout</a>
</body>
</html>